body{
    background-color: lightgray;
    /* background-image: url("./images/90sbg.jpg"); */
    text-align: center;
}

.member-image{
    height: 450px;
    border: 15px solid rgb(200,0,100);
    border-radius: 50px;
    padding: 10px;
}

a {
    font-size: 25px;
}

.lists {
    color: dimgrey;
    text-align: left;
}

footer {
    margin-top: 200px;
    text-align: right;
}
#gigs {
    font-size: larger;
}